<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phuag.sample.admin.dao.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.phuag.sample.admin.api.entity.SysRole" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="office_id" property="officeId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="enname" property="enname" jdbcType="VARCHAR" />
    <result column="role_type" property="roleType" jdbcType="VARCHAR" />
    <result column="data_scope" property="dataScope" jdbcType="CHAR" />
    <result column="is_sys" property="isSys" jdbcType="VARCHAR" />
    <result column="useable" property="useable" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, office_id, name, enname, role_type, data_scope, is_sys, useable, create_by, create_date,
    update_by, update_date, remarks, del_flag
  </sql>


  <resultMap id="roleDetailMap"  type="com.phuag.sample.admin.api.model.SysRoleDetail">
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <collection property="menus" ofType="SysMenu" select="getMenus" column="id">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="permission" property="permission"></result>
    </collection>
  </resultMap>
  <select id="roleDetailList" resultMap="roleDetailMap">
    SELECT r.id, r.name, r.useable ,u.name createPerson
    from sys_role r
    LEFT JOIN sys_user u on u.id = r.create_by
    <where>
      AND r.del_flag = ${@com.phuag.sample.common.persistence.domain.BaseEntity@DEL_FLAG_NORMAL}
      <if test="keyword != null and keyword != ''">
        AND r.name LIKE concat('%',LOWER(#{keyword,jdbcType=VARCHAR}),'%')
      </if>
    </where>
  </select>
  <select id="getMenus" parameterType="String"  resultType="SysMenu">
      SELECT sm.id,sm.code,sm.is_required,sm.name ,sm.permission
      FROM sys_role_menu srm
      RIGHT JOIN sys_menu sm ON sm.id = srm.menu_id
      WHERE srm.role_id = #{id}
  </select>

  <insert id="insertRoleMenu" >
    INSERT INTO sys_role_menu (role_id, menu_id) VALUES
    <foreach collection="menuIds" item="item" index="index" separator=",">
      (#{roleId}, #{item})
    </foreach>
  </insert>


  <select id="queryAreaIdList" resultType="string">
    SELECT area_id FROM sys_role_area
    WHERE role_id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
</mapper>